<% content_for :title, "Editing feedback" %>

<h1>Editing feedback</h1>

<%= render "form", feedback: @feedback %>

<br>

<div>
  <%= link_to "Show this feedback", @feedback %> |
  <%= link_to "Back to feedbacks", feedbacks_path %>
</div>
